{% include 'users/navbar.html' %}

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


  <!-- Cards -->
  <section id="packages" class="pt-md-5">
    <h2 class="text-center my-5">Todays Auctions</h2>


    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img src="static/th.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mart1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="skibbereen" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-4">
  <div class="card">
        <img src="static/hy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mart2</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="marts" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
        <div class="col-4">
<div class="card">
        <img src="static/tb.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mart3</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
      </div>

    
      
    </div>

  </section>
  <section id="faq" class ="py-md-5"></section>

  </html>