<head>
    <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
     crossorigin="anonymous"
     >
    </head>

<br />
<div class="alert alert-success" role="alert">
  <h2 style="text-align: center;">Logged out!</h2>
</div>

<h3>Login again?</h3>
<a href="{% url 'login' %}">---> Login</a> <br />
<a href="{% url 'home' %}"><--- Or go back to home.</a>
